/* Global */
:root {
  /* color */
  --color-white: #ffffff;
  --color-paleblue: aliceblue;
  --color-blue: #6daffe;
  --color-darkblue: #437fc7;
  --color-cyan: #0658bd;
  --color-brown: #b9732f;
  --color-black: black;

  /* font size*/
  --font-large: 48px;
  --font-medium: 28px;
  --font-reguglar: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight*/
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400px;

  /* size*/
}
/* Universal Tags*/
* {
  box-sizing: border-box;
}
/* typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

p {
  font-size: var(--font-reguglar);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}
